In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [17]:
df=pd.read_csv('data/lab.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434660 entries, 0 to 434659
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   labid                    434660 non-null  int64
 1   patientunitstayid        434660 non-null  int64
 2   labresultoffset          434660 non-null  int64
 3   labtypeid                434660 non-null  int64
 4   labname                  434660 non-null  object
 5   labresult                431939 non-null  float64
 6   labresulttext            434639 non-null  object
 7   labmeasurenamesystem     415754 non-null  object
 8   labmeasurenameinterface  415763 non-null  object
 9   labresultrevisedoffset   434660 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 33.2+ MB

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
0,437880563,1754323,-647,3,Hct,38.30,38.3,%,%,-631
1,437880572,1754323,-647,3,platelets x 1000,181.00,181,K/mcL,k/mm cu,-631
2,437880560,1754323,-647,3,RBC,4.86,4.86,M/mcL,m/mm cu,-631
3,437880570,1754323,-647,3,-monos,8.70,8.7,%,%,-631
4,437880571,1754323,-647,3,MCHC,30.40,30.4,g/dL,%,-631

In [18]:
# supprimer les colonnes inutiles
df=df.drop(['labid', 'patientunitstayid','labtypeid','labresulttext'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434660 entries, 0 to 434659
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   labresultoffset          434660 non-null  int64
 1   labname                  434660 non-null  object
 2   labresult                431939 non-null  float64
 3   labmeasurenamesystem     415754 non-null  object
 4   labmeasurenameinterface  415763 non-null  object
 5   labresultrevisedoffset   434660 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 19.9+ MB

In [19]:
# remplacer les valeurs manquantes par la moyenne
df['labresult'].fillna(df['labresult'].mean(), inplace=True)

# remplacer les chaines manquantes par la chaine la plus fréquente
df['labmeasurenamesystem'].fillna(df['labmeasurenamesystem'].value_counts().index[0], inplace=True)
df['labmeasurenameinterface'].fillna(df['labmeasurenameinterface'].value_counts().index[0], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434660 entries, 0 to 434659
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   labresultoffset          434660 non-null  int64
 1   labname                  434660 non-null  object
 2   labresult                434660 non-null  float64
 3   labmeasurenamesystem     434660 non-null  object
 4   labmeasurenameinterface  434660 non-null  object
 5   labresultrevisedoffset   434660 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 19.9+ MB

In [20]:
# diviser les données en données d'entrainement et de test
X=df.drop('labresult', axis=1)
y=df['labresult']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)