In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [11]:
df=pd.read_csv('data/medication.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75604 entries, 0 to 75603
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   medicationid        75604 non-null  int64
 1   patientunitstayid   75604 non-null  int64
 2   drugorderoffset     75604 non-null  int64
 3   drugstartoffset     75604 non-null  int64
 4   drugivadmixture     75604 non-null  object
 5   drugordercancelled  75604 non-null  object
 6   drugname            44943 non-null  object
 7   drughiclseqno       71163 non-null  float64
 8   dosage              66299 non-null  object
 9   routeadmin          75554 non-null  object
 10  frequency           63824 non-null  object
 11  loadingdose         8 non-null      object
 12  prn                 75596 non-null  object
 13  drugstopoffset      75604 non-null  int64
 14  gtc                 75604 non-null  int64
dtypes: float64(1), int64(6), object(8)
memory usage: 8.7+ MB

C:\Users\user\AppData\Local\Temp\ipykernel_5996\2484835441.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data/medication.csv')

,medicationid,patientunitstayid,drugorderoffset,drugstartoffset,drugivadmixture,drugordercancelled,drugname,drughiclseqno,dosage,routeadmin,frequency,loadingdose,prn,drugstopoffset,gtc
0,7278819,141765,134,1396,No,No,WARFARIN SODIUM 5 MG PO TABS,2812.0,5 3,PO,NaN,NaN,No,2739,0
1,9726266,141765,1,-188,No,No,5 ML VIAL : DILTIAZEM HCL 25 MG/5ML IV SOLN,182.0,15 3,IV,Once PRN,NaN,Yes,171,38
2,10293599,141765,115,856,No,No,ASPIRIN EC 81 MG PO TBEC,1820.0,81 3,PO,Daily,NaN,No,2739,0
3,10871534,141765,114,316,No,No,DILTIAZEM HCL 30 MG PO TABS,182.0,30 3,PO,Q6H SCH,NaN,No,2739,0
4,10128716,141765,115,856,No,No,LISINOPRIL 5 MG PO TABS,132.0,5 3,PO,Daily,NaN,No,2428,0

In [12]:
#Supprimez les colonnes qui ne sont pas utiles
cols=['medicationid','patientunitstayid','loadingdose','gtc','drugname','drughiclseqno','dosage']
df=df.drop(cols,axis=1)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75604 entries, 0 to 75603
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   drugorderoffset     75604 non-null  int64
 1   drugstartoffset     75604 non-null  int64
 2   drugivadmixture     75604 non-null  object
 3   drugordercancelled  75604 non-null  object
 4   routeadmin          75554 non-null  object
 5   frequency           63824 non-null  object
 6   prn                 75596 non-null  object
 7   drugstopoffset      75604 non-null  int64
dtypes: int64(3), object(5)
memory usage: 4.6+ MB

,drugorderoffset,drugstartoffset,drugivadmixture,drugordercancelled,routeadmin,frequency,prn,drugstopoffset
0,134,1396,No,No,PO,NaN,No,2739
1,1,-188,No,No,IV,Once PRN,Yes,171
2,115,856,No,No,PO,Daily,No,2739
3,114,316,No,No,PO,Q6H SCH,No,2739
4,115,856,No,No,PO,Daily,No,2428

In [13]:
#Supprimez les lignes avec des valeurs manquantes
df=df.dropna()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 63783 entries, 1 to 75603
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   drugorderoffset     63783 non-null  int64
 1   drugstartoffset     63783 non-null  int64
 2   drugivadmixture     63783 non-null  object
 3   drugordercancelled  63783 non-null  object
 4   routeadmin          63783 non-null  object
 5   frequency           63783 non-null  object
 6   prn                 63783 non-null  object
 7   drugstopoffset      63783 non-null  int64
dtypes: int64(3), object(5)
memory usage: 4.4+ MB

,drugorderoffset,drugstartoffset,drugivadmixture,drugordercancelled,routeadmin,frequency,prn,drugstopoffset
1,1,-188,No,No,IV,Once PRN,Yes,171
2,115,856,No,No,PO,Daily,No,2739
3,114,316,No,No,PO,Q6H SCH,No,2739
4,115,856,No,No,PO,Daily,No,2428
5,17,1033,No,No,PO,Daily,No,1339

In [14]:
dummies = []
cols = ['drugivadmixture', 'prn']
for col in cols:
    dummies.append(pd.get_dummies(df[col], prefix=col))

dummies_df = pd.concat(dummies, axis=1)
df = pd.concat([df, dummies_df], axis=1)
df = df.drop(cols, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63783 entries, 1 to 75603
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   drugorderoffset      63783 non-null  int64
 1   drugstartoffset      63783 non-null  int64
 2   drugordercancelled   63783 non-null  object
 3   routeadmin           63783 non-null  object
 4   frequency            63783 non-null  object
 5   drugstopoffset       63783 non-null  int64
 6   drugivadmixture_No   63783 non-null  bool
 7   drugivadmixture_Yes  63783 non-null  bool
 8   prn_No               63783 non-null  bool
 9   prn_Yes              63783 non-null  bool
dtypes: bool(4), int64(3), object(3)
memory usage: 3.6+ MB

In [15]:
X= df.values
y= df["drugordercancelled"].values
X= np.delete(X, 3, axis=1)

X_train, X_test, Y_train, Y_test= train_test_split(X, y, test_size=0.3, random_state=0)